In [20]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('../DatasetCollection/newData.csv', names=["question_id", "title", "body", "link", "is_answered", "accepted_answer_id"])
df.describe()

        question_id  accepted_answer_id
count  2.670000e+02        4.800000e+01
mean   7.602208e+07        7.602535e+07
std    1.290137e+03        9.291566e+03
min    7.601985e+07        7.601998e+07
25%    7.602091e+07        7.602237e+07
50%    7.602223e+07        7.602337e+07
75%    7.602318e+07        7.602425e+07
max    7.602422e+07        7.608096e+07

In [17]:
question_ids = []
with open('../DatasetCollection/newID.txt', 'r') as f:
    question_ids = f.readlines()
    question_ids = [x.strip() for x in question_ids]
len(question_ids)

300

In [35]:
# search for the question id in the dataframe and get the index
# then use the index to get the accepted answer id
answerID = []
for question_id in question_ids:
    data = df[df['question_id'] == int(question_id)]
    if not data.empty:
        if not np.isnan(data['accepted_answer_id'].values[0]):
            print(data['accepted_answer_id'].values[0])
            answerID.append(int(data['accepted_answer_id'].values[0]))
        else:
            answerID.append('')
    else:
        answerID.append('')

76024214.0
76027040.0
76023955.0
76023972.0
76024374.0
76023845.0
76080956.0
76023725.0
76023659.0
76025443.0
76023713.0
76024517.0
76023293.0
76023647.0
76044703.0
76022873.0
76022878.0
76022888.0
76022806.0
76022698.0
76022589.0
76023498.0
76022414.0
76022387.0
76022447.0
76022385.0
76022342.0
76023450.0
76023450.0
76024867.0
76022902.0
76022271.0
76021890.0
76023828.0
76021642.0
76021694.0
76033903.0
76024596.0
76021072.0
76028926.0
76021330.0
76027144.0
76020716.0
76020699.0
76020625.0
76038355.0
76020308.0
76019980.0

In [29]:
with open('../DatasetCollection/newAnswerID.txt', 'w') as f:
    for answer_id in answerID:
        f.write(str(answer_id) + '\n')